<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Venko | Entrenamiento Personalizado Digital</title>
	
	<link rel="icon" sizes="192x192" href="../static/img/touch-icon.png" /> 
	<link rel="apple-touch-icon" href="../static/img/touch-icon-iphone.png" /> 
	<link rel="apple-touch-icon" sizes="76x76" href="../static/img/touch-icon-ipad.png" /> 
	<link rel="apple-touch-icon" sizes="120x120" href="../static/img/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="../static/img/touch-icon-ipad-retina.png" />
	
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
</head>
<body>
	
	<header class="top-bar">
		
		<ul class="profile"> 
			<li>
				<a href="#" class="btn-circle no-circle">
					<i class="pe-7f-back"></i>
				</a>
			</li>
			<li>
				<a href="#" onclick="return false;" class="btn-circle btn-sm">
					<i class="pe-7f-mail"></i>
					<span class="badge badge--blue">8</span>
				</a>
			</li>
			<li>
				<a href="#" onclick="return false;" class="btn-circle btn-sm">
					<i class="pe-7g-sets"></i>
				</a>
			</li>
			<li>
				<a href="#" onclick="return false;" class="btn-circle btn-sm active">
					<i class="pe-7g-user"></i>
				</a>
			</li>
			<li class="mobile-nav">
				<a href="#" onclick="return false;" class="btn-circle btn-sm">
					<i class="pe-7f-menu"></i>
				</a>
			</li>
		</ul>

		<div class="main-search">
			<input type="text" placeholder="Buscar ..." id="msearch">
			<label for="msearch">
				<i class="pe-7s-search"></i>
			</label>
			<button>
				<i class="pe-7g-arrow-circled pe-rotate-90"></i>
			</button>
		</div>
		
		<div class="main-brand">
			<div class="main-brand__container">
				<div class="main-logo"><img src="../static/img/logo.png"></div>
				<input type="checkbox" id="s-logo" class="sw" />
				<label class="swtc swtc--dark swtc--header" for="s-logo"></label> 
			</div>
		</div>
		
	</header> <!-- /top-bar -->


	<div class="wrapper">

		<aside class="sidebar">
			
			<div class="user-info">
					<figure class="rounded-image profile__img">
						<img class="media-object" src="../static/img/profile.jpg" alt="user">
					</figure>
					<h2 class="user-info__name">Osvaldo Olea</h2>
					<h3 class="user-info__role">Admin Manager</h3>
					<ul class="user-info__numbers">
						<li>
							<i class="pe-7f-user"></i>
							<p>26k+</p>
							<p>+14</p>
						</li>
						<li>
							<i class="pe-7f-mail"></i>
							<p>1095+</p>
							<p>+56</p>
						</li>
						<li>
							<i class="pe-7g-watch"></i>
							<p>428</p>
							<p>+38</p>
						</li>
					</ul>
				</div> <!-- /user-info -->

				<ul class="main-nav">
					<li>
						<a class="main-nav__link" href="/home">
							<span class="main-nav__icon"><i class="pe-7f-home"></i></span>
							Pizarra
						</a>
					</li>
					<li>
						<a class="main-nav__link" href="#">
							<span class="main-nav__icon"><i class="pe-7f-graph3"></i></span>
							Ejercicios
						</a>
					</li>
					<li class="main-nav--active">
						<a class="main-nav__link" href="#">
							<span class="main-nav__icon"><i class="pe-7f-users"></i></span>
							Alumnos <span class="badge badge--line badge--blue">{{alumnos|length}}</span>
						</a>
					</li>
					<li>
						<a class="main-nav__link" href="/servicios">
							<span class="main-nav__icon"><i class="pe-7f-star"></i></span>
							Servicios 
						</a>
					</li>	
					<li>
						<a class="main-nav__link" href="/pagos">
							<span class="main-nav__icon"><i class="pe-7f-star"></i></span>
							Pagos 
						</a>
					</li>	
				</ul> <!-- /main-nav -->
			
		</aside> <!-- /sidebar -->
		{% if alumnos %}
		<section class="content">
			<header class="main-header">
				<div class="main-header__nav">
					<h1 class="main-header__title">
						<i class="pe-7f-note2"></i>
						<span>Listado de Alumnos</span>
					</h1>
					<ul class="main-header__breadcrumb">
						<li><a href="#" onclick="return false;">Home</a></li>
						<li class="active"><a href="#" onclick="return false;">Listado de Alumnos</a></li>
					</ul>
				</div>
				
			</header> <!-- /main-header -->


				<div class="row">
					
					<div class="col-md-12">
						<article class="widget">
							<header class="widget__header">
								<div class="widget__title">
									<i class="pe-7s-menu"></i><h3>Alumnos</h3>
								</div>
								<div class="widget__config">
									<a href="#"><i class="pe-7f-refresh"></i></a>
									<a href="{% url "add" %}" class="cargaralumnos" data-toggle="tooltip" data-placement="left" title="Nuevo Alumno"><i class="pe-7s-plus"></i></a>
								</div>
							</header>
							
							<div class="widget__content table-responsive">
								
								<table class="table table-striped media-table">
							  	<thead>
							  		<tr>
							  			<th width="270">Datos </th>
							  			<th width="120">Fecha Ingreso</th>
							  			<th>Informacion</th>
							  			<th>Borrar</th>
							  		</tr>
							  	</thead>
							  	<tbody>

							  	
							  		<tr class="spacer"></tr>
							  		{% for Alumno in alumnos%}
							  		<tr>
							  			<td>
							  				<div class="media">
													<figure class="pull-left post__img">
														{%if Alumno.pago %}
														<a href="{% url "pagoDetalle" Alumno.pk %}" data-toggle="tooltip" data-placement="left" title="Realizar Pago"><img class="media-object" src="../static/img/post1.jpg" alt="user"></a>
														{%else %}
														<a href="{% url "pagoDetalle" Alumno.pk %}" data-toggle="tooltip" data-placement="left" title="Realizar Pago"><img class="media-object" src="../static/img/postD.jpg" alt="user"></a>
														{% endif %}
													</figure>
													<div class="media-body post_desc">
														<h3 data-toggle="tooltip" data-placement="left" title="Editar Alumno"><a href="{% url "alumnosDetalle" Alumno.pk %}">{{Alumno.nombre}}</a></h3>
														<p>{{Alumno.profesion}}</p>
													</div>
												</div>
							  			</td>
							  			<td>
							  				<p class="post__date">{{Alumno.fechaingreso}}</p>
							  			</td>
							  			<td>
							  				<p class="post__info">{{Alumno.direccion}}</p>
							  				<p class="post__info">{{Alumno.telefono}}</p>
							  				<p class="post__info">{{Alumno.email}}</p>
							  			</td>
							  			<td>
							  				<a href="{% url "borrar" Alumno.pk %}" class="post__del" data-toggle="tooltip" data-placement="left" title="Eliminar Alumno"><i class="pe-7f-close"></i></a>
							  			</td>
							  		</tr>

							  		<tr class="spacer"></tr>
							  		{% endfor %}
							  		
							  	</tbody>
								</table>
			
							</div> <!-- /widget__content -->
							
						</article><!-- /widget -->
					</div>


				</div> <!-- /row -->

			<footer class="footer-brand">
				<p>Powered by</p>
				<img src="../static/img/logo_trim.png">
			</footer>


		</section> <!-- /content -->
		{% else %}
		<section>
			<div class="row">
				<div class="error-wrap">
					<div class="error">
						<span>No hay Alumnos</span>
					</div>
					<div class="error">
						<span>No hay Alumnos</span>
					</div>
					<div class="error">
						<span>No hay Alumnos</span>
					</div>
					<p>
						<a href="{% url "add" %}" class="cargaralumnos"><i class="pe-7s-plus"></i><br>Ingresar Alumno</a>
					</p> 
				</div>
			</div>
		</section>					
		{% endif %}
	</div>

	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/amcharts/amcharts.js"></script>
	<script type="text/javascript" src="../static/js/amcharts/serial.js"></script>
	<script type="text/javascript" src="../static/js/amcharts/pie.js"></script>
	<script type="text/javascript" src="../static/js/chart.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type='text/javascript'>
	     $(document).ready(function () {
	     if ($("[rel=tooltip]").length) {
	     $("[rel=tooltip]").tooltip();
	     }
	   });
  	</script>
</body>
</html>